# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# Data artifacts
/data/raw/*.csv
/data/processed/*.csv
/data/processed/*.parquet

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Build / logs
*.log
